<p>
  <b>Neighborhood: </b><%= link_to @bar.neighborhood.name, neighborhood_url(@bar.neighborhood) %>
</p>

<p>
  <b>Bar name:</b>
  <%= @bar.bar_name %>
</p>

<p>
  <b>Address:</b>
  <%= @bar.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @bar.zip %>
</p>

<p>
  <b>Bar description:</b></br>
  <%= @bar.bar_description %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
