<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :neighborhood_id %>

  <div class="field">
	<%= f.label :add_a_new %><br />
    <%= f.radio_button(:todo_type, "Learn") %> Learn, See, Do<br />
    <%= f.radio_button(:todo_type, "Bar") %> Bar<br />
    <%= f.radio_button(:todo_type, "Cafe") %> Cafe<br />
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
	
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
