<%= form_for(@guide) do |f| %>
  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% @guide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :neighborhood_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

<h2>TODOS ARE HERE</h2>
<table>
  <tr>
    <th>Add to Guide</th>
    <th>Neighborhood</th>
    <th>Type</th>
    <th>Name</th>
    <th>Address</th>
    <th>Zip</th>
    <th>Description</th>
  </tr>

<% @neighborhood.todos.each do |todo| %>
   <tr>
     <td><%= check_box_tag "todo_ids[]", todo.id %></td>
  	 <td><%= todo.neighborhood.name %></td>	
     <td><%= todo.todo_type %></td>
     <td><%= todo.name %></td>
     <td><%= todo.address %></td>
     <td><%= todo.zip %></td>
     <td><%= todo.description %></td>
   </tr>
<% end %>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>